<%- include('head.ejs') %>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .spacing{
        padding-bottom: 4%;
    }
    .center{
        margin: auto;
        display: block;
        width: 100%;
    }
</style>
<h1>How to create a Canvas access token:</h1>
<center class="center">
    <div class="spacing">
        <h4>1. Login to Canvas and click on the profile fly-out:</h4>
        <img src="https://github.com/bsp5205/411test/blob/master/public/images/1_edited.png?raw=true">
    </div>
    <div class="spacing">
        <h4>2. Click "Profile":</h4>
        <img src="https://github.com/bsp5205/411test/blob/master/public/images/2_edited.png?raw=true">
    </div>
    <div class="spacing">
        <h4>3. Click "Settings":</h4>
        <img src="https://github.com/bsp5205/411test/blob/master/public/images/3_edited.png?raw=true">
    </div>
    <div class="spacing">
        <h4>4. Scroll until you see the "+ New Access Token" Button:</h4>
        <img src="https://github.com/bsp5205/411test/blob/master/public/images/4_edited.png?raw=true">
    </div>
    <div class="spacing">
        <h4>5. Add a descriptive purpose and leave the "Expires" blank:</h4>
        <img src="https://github.com/bsp5205/411test/blob/master/public/images/5_edited.png?raw=true">
    </div>
    <div class="spacing">
        <h4>Save this access token somewhere safe. <b>You will not be able to access it once closing the window.</b></h4>
    </div>


</center>


<%- include('footer.ejs') %>