<%- include('head.ejs') %>
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .size{
        width: 50%;
    }
    .buttonstyle{
        background-image: linear-gradient(#009adc, #1e427e);
        color:white;
    }

    .classButtons {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .center {
        margin: auto;
    }

</style>
    <body>
    <p class="center"><button class="buttonstyle" onclick="window.location.href = 'http://localhost:3000/courseOptions'"> Generate Class Attendence Report </button></p>
    <p class="center"><button class="buttonstyle" onclick="window.location.href = 'http://localhost:3000/generateCode-12345'"> Generate QR Code</button></p>

    </body>
</html>

<%- include('footer.ejs') %>