<html>
    <head>
    </head>

    <style>
        .flex-container-left {
            display: flex;
            justify-content: left;
        }
        .size{
            width: 50%;
        }
        .header-thickness{
            height: 15%;
        }
        .logo-thickness{
            height: 50%;
        }
        .help-button{
            width: 3vw;
            height: 3vw;
            border-radius: 50% !important;

        }
        .help-button-div{
            height: 75%;
        }
        .mat-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: linear-gradient(to right, #009cde, #001c3f);
        }
        .brand{
            position: relative;
            margin-left: 15%;
            margin-right: 15%;
        }
        .button-style{
            background-image: linear-gradient(#009adc, #1e427e);
            border: none
        }
        .button-style:hover{
            box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>

    <body>
    <div>
        <div class="header-thickness mat-card">
            <div class="flex-container-left logo-thickness brand">
                <image onclick="window.location.href = 'http://localhost:3000/'" class='img' src="https://github.com/bsp5205/411test/blob/master/public/images/New%20Project%20(1).png?raw=true"></image>
            </div>
            <button class="help-button brand button-style">
                ?
            </button>
        </div>


    </div>




