<html>
    <head>
    </head>

    <style>
        .flex-container-left {
            display: flex;
            justify-content: left;
        }
        .size{
            width: 50%;
        }
        .header-thickness{
            height: 15%;
        }
        .logo-thickness{
            height: 50%;
        }
        .help-button{
            width: 3vw;
            height: 3vw;
        }
        .help-button-div{
            height: 75%;
        }
        .mat-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: linear-gradient(to right, #009cde, #001c3f);
        }
        .brand{
            position: relative;
            margin-left: 15%;
            margin-right: 15%;
        }
    </style>

    <body>
    <div>
        <div class="header-thickness mat-card">
            <div class="flex-container-left logo-thickness brand">
                <image class='img' src="https://behrend.psu.edu/sites/behrend/files/logos/PSU_EBO_RGB_2C.svg"></image>
            </div>
            <button class="help-button brand">Help</button>
        </div>
    </div>




